<footer id="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="./img/logo.png" class="logo d-block mx-auto" alt="" />
        <p class="text-center mt-4">
          Copyright 2021 • All Rights Reserved • <br />
          <span>kurangkerjaan.com</span>
          <br />
          Some Images Designed by
          <a href="http://freepik.com" target="_blank">Freepik</a>
        </p>
      </div>
    </div>
  </div>
</footer>
