<header id="header-section">
  <nav>
    <ul>
      <li>
        <a href="#hero-section" class=""
          ><i class="bi bi-house-fill toHeroSection"></i
        ></a>
      </li>
      <li>
        <a href="#about-section" class=""
          ><i class="bi bi-person-fill toAboutSection"></i
        ></a>
      </li>
      <li>
        <a href="#schedule-section" class=""
          ><i class="bi bi-bell-fill toScheduleSection"></i
        ></a>
      </li>
      <li>
        <a href="#story-section" class=""
          ><i class="bi bi-bookmark-heart-fill toStorySection"></i
        ></a>
      </li>
      <li>
        <a href="#gift-section" class=""
          ><i class="bi bi-gift-fill toGiftSection"></i
        ></a>
      </li>
      <li>
        <a href=""><i class="bi bi-plus-circle-fill"></i></a>
      </li>
    </ul>
  </nav>
</header>
