<header id="header-section">
  <div class="navigation">
    <ul>
      <li class="list active">
        <a href="#hero-section">
          <span class="icon"><i class="bi bi-house-fill"></i></span>
          <span class="text">Home</span>
        </a>
      </li>
      <li class="list">
        <a href="#about-section">
          <span class="icon"><i class="bi bi-person-fill"></i></span>
          <span class="text">About Us</span>
        </a>
      </li>
      <li class="list">
        <a href="#schedule-section">
          <span class="icon"><i class="bi bi-bell-fill"></i></span>
          <span class="text">Schedule</span>
        </a>
      </li>
      <li class="list">
        <a href="#story-section">
          <span class="icon"><i class="bi bi-bookmark-heart-fill"></i></span>
          <span class="text">Story</span>
        </a>
      </li>
      <li class="list">
        <a href="#gift-section">
          <span class="icon"><i class="bi bi-gift-fill"></i></span>
          <span class="text">Gift</span>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>
</header>
