<section id="hero-section">
  <div class="rectangle-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 hero">
        <div class="hero-text text-center">
          <h1 class="hDita">Andhita</h1>
          <h1 class="hDan">&</h1>
          <h1 class="hIqbal">Iqbal</h1>
        </div>

        <div class="hero-date-text text-center">
          <h5>Save The Date</h5>
          <h5>January 16, 2022 - In Jakarta</h5>

          <div class="count-down px-5 my-3">
            <p class="day">
              <span>Days</span>
            </p>
            <p class="hour">
              <span>Hours</span>
            </p>
            <p class="min">
              <span>Mins</span>
            </p>
            <p class="sec">
              <span>Sec</span>
            </p>
          </div>
          <h5>Until Our Wedding</h5>
          <a
            href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NWZtbmtmb2FlZzd0czkzcWowajdiNDhwcDkgd2lkaWF3YW4ub2thQG0&tmsrc=widiawan.oka%40gmail.com"
            class="button btnSave"
            >Save The Date
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
