<section id="schedule-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title">Akad Nikah</h3>
            <p class="card-subtitle">
              <i class="bi bi-calendar-check"></i> Minggu, 16 January 2022
            </p>
            <p class="card-subtitle">
              <i class="bi bi-alarm"></i> 07.00 - 08.00
            </p>
            <p class="card-subtitle">
              <i class="bi bi-pin-angle"></i> Hotel Aston Jakarta
            </p>
            <span class="card-subtitle d-block">
              Jl. TB Simatupang No.2 RT.2/RW.2, Kebagusan, Pasar Minggu, South
              Jakarta City, Jakarta 12520
            </span>
            <a
              href="https://www.google.com/maps/dir//hotel+aston+simatupang/@-6.2957878,106.8246713,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x2dd2441f8156f6fd:0x24773cf0d58b863b!2m2!1d106.8348458!2d-6.3013281"
              target="_blank"
              class="button btnArah"
              ><i class="bi bi-geo-alt"></i> Petunjuk Arah
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-5">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="card-title">Resepsi</h3>
            <p class="card-subtitle">
              <i class="bi bi-calendar-check"></i> Minggu, 16 January 2022
            </p>
            <p class="card-subtitle">
              <i class="bi bi-alarm"></i> 09.00 - 11.00
            </p>
            <p class="card-subtitle">
              <i class="bi bi-pin-angle"></i> Hotel Aston Jakarta
            </p>
            <span class="card-subtitle d-block">
              Jl. TB Simatupang No.2 RT.2/RW.2, Kebagusan, Pasar Minggu, South
              Jakarta City, Jakarta 12520
            </span>
            <a
              href="https://www.google.com/maps/dir//hotel+aston+simatupang/@-6.2957878,106.8246713,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x2dd2441f8156f6fd:0x24773cf0d58b863b!2m2!1d106.8348458!2d-6.3013281"
              target="_blank"
              class="button btnArah"
              ><i class="bi bi-geo-alt"></i> Petunjuk Arah
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
