<section id="story-section">
  <div class="rectangle-3"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center my-5">Our Story</h2>

        <div class="wrapper">
          <div class="center-line">
            <a href="" class=""></a>
          </div>

          <div class="brs brs-1">
            <div class="cover">
              <img src="./img/dita.jpg" alt="" class="icon" />
              <div class="details">
                <span class="title">3 January 2019</span>
                <span class="title">1st Section</span>
              </div>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
                atque in voluptates, consequatur ut hic sunt ipsam saepe tempora
                molestiae? Facere consequatur veniam blanditiis officiis?
                Blanditiis temporibus sequi saepe cumque.
              </p>
              <div class="bot">
                <a href="" class="button">Read More</a>
                <i>- Someone</i>
              </div>
            </div>
          </div>

          <div class="brs brs-2">
            <div class="cover">
              <img src="./img/iqbal.jpg" alt="" class="icon" />
              <div class="details">
                <span class="title">3 January 2019</span>
                <span class="title">2nd Section</span>
              </div>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
                atque in voluptates, consequatur ut hic sunt ipsam saepe tempora
                molestiae? Facere consequatur veniam blanditiis officiis?
                Blanditiis temporibus sequi saepe cumque.
              </p>
              <div class="bot">
                <a href="" class="button">Read More</a>
                <i>- Someone</i>
              </div>
            </div>
          </div>

          <div class="brs brs-1">
            <div class="cover">
              <img src="./img/dita.jpg" alt="" class="icon" />
              <div class="details">
                <span class="title">3 January 2019</span>
                <span class="title">1st Section</span>
              </div>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
                atque in voluptates, consequatur ut hic sunt ipsam saepe tempora
                molestiae? Facere consequatur veniam blanditiis officiis?
                Blanditiis temporibus sequi saepe cumque.
              </p>
              <div class="bot">
                <a href="" class="button">Read More</a>
                <i>- Someone</i>
              </div>
            </div>
          </div>

          <div class="brs brs-2">
            <div class="cover">
              <img src="./img/iqbal.jpg" alt="" class="icon" />
              <div class="details">
                <span class="title">3 January 2019</span>
                <span class="title">2nd Section</span>
              </div>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
                atque in voluptates, consequatur ut hic sunt ipsam saepe tempora
                molestiae? Facere consequatur veniam blanditiis officiis?
                Blanditiis temporibus sequi saepe cumque.
              </p>
              <div class="bot">
                <a href="" class="button">Read More</a>
                <i>- Someone</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
